.git
.env
.env.*
!.env.example

node_modules
vendor

database/*.sqlite
database/*.sqlite-*

storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

.codex
tests